@model IEnumerable<BR_HAXA_FE.IDENTITY.Models.PropiedadV>
<!DOCTYPE html>
<html>
<head>
    <title>
        @{ ViewBag.Title = "Haxa Bienes Raices"; }
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=StyleSheet href="~/Content/main.css" type="text/css" media=screen>
    <link rel=StyleSheet href="~/Content/shopify.css" type="text/css" media=screen>
    <link rel=StyleSheet href="~/Content/price_range_style.css" type="text/css" media=screen>
</head>

<body>
    <!-- Header -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:700px;" id="home">
        <img class="w3-image" src="~/Content/images/Portada-bienes-raices.jpg" alt="Architecture" width="1400" height="400">
        <div class="w3-display-middle w3-margin-top w3-center">
            <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>BR</b></span> <span class="w3-hide-small w3-text-light-grey">Haxa</span></h1>
        </div>
    </header>

    


    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width:1564px">

        
        <div>
            <div class="boost-pfs-filter-left-col">
                <div class="boost-pfs-filter-refine-by-wrapper-v"></div>
                <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v boost-pfs-filter-tree-mobile-style2 boost-pfs-filter-tree-mobile-sticky" id="boost-pfs-filter-tree">
                    <div class="boost-pfs-filter-tree-content" aria-live="polite" role="navigation" aria-label="Product filter">
                        <div class="boost-pfs-filter-"></div>
                        <div class="boost-pfs-filter-refine-by-wrapper" >
                            <!--Filter Section-->
                            

                        </div>
                    </div>
                </div>
            </div>

            <div class="" id="property">
                <h3 class="w3-border-bottom w3-border-light-grey" style="text-align:center;">Propiedades</h3>
            </div>

            <div id="prop" class="boost-pfs-filter-products boost-pfs-filter-product-item-layout-no-border boost-pfs-filter-product-item-label-top_left boost-pfs-filter-product-item-swatch_color_display_type_image_product boost-pfs-filter-swatch-shape-circle boost-pfs-filter-product-item-text-alignment-left" style="min-height: 0px;">
                <!-- Todas las propiedades aqui -->
                    @Html.Partial("Propiedades", new List<BR_HAXA_FE.IDENTITY.Models.PropiedadV>(Model))
                
            </div>
        </div>

        <!-- About Section -->
        <div class="w3-container w3-padding-32" id="about">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Acerca de HAXA</h3>
            <p>
                <!-- Todo Acerca de aqui -->
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>

        <!-- End page content -->
    </div>


</body>
</html>