@model BR_HAXA_FE.IDENTITY.Models.Rol

@{
    ViewData["Title"] = "Edit";
}


<link rel=StyleSheet href="~/Content/Perfil.css" type="text/css" media=screen>


<h2 style="text-align:center;">Actualizar rol</h2>
<h2 style="text-align:center;">Actualizar rol</h2>
<hr />
<div class="login-block">

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdRol" />
                <div class="form-group">
                    <label asp-for="NombreRol" class="control-label"></label>
                    <input asp-for="NombreRol" class="form-control" />
                    <span asp-validation-for="NombreRol" class="text-danger"></span>
                </div>
                
                <br>
                <div class="form-group">
                    <input type="submit" value="Editar" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <br>
        <div>
            <a asp-action="Index">Volver a la lista</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
