@model IEnumerable<BR_HAXA_FE.Models.Rol>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div style="margin-left:50px">
    <p>
        <a asp-action="Create">Crear nuevo rol</a>
    </p>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre del rol
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreRol)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdRol">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.IdRol">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdRol">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>