.table-fill {
	background: white;
	border-radius: 3px;
	border-collapse: collapse;
	height: 400px;
	margin: auto;
	max-width: 600px;
	padding: 5px;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1)
}

th {
	color: #D5DDE5;
	background-color: #3c3c3c;
	border-bottom: 4px solid #9ea7af;
	border-right: 1px solid #343a45;
	font-size: 13px;
	font-weight: 50;
	padding: 20px;
	text-align: left;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	vertical-aling: middle;
}

	th:first-child {
		border-top-left-radius: 3px;
	}

	th:last-child {
		border-top-right-radius: 3px;
		border-right: none;
	}

tr {
	border-top: 1px solid #C1c3d1;
	border-bottom: 1px solid #C1c3d1;
	color: #666b85;
	font-size: 13px;
	font-weight: 100 1px 1px rgba(256,2256,256,0.1);
}

	tr:hover td {
		color: #000;
		border-top: 1px solid #22262e;
	}

	tr:first-child {
		border-top: none;
	}

	tr:last-child {
		border-bottom: none;
	}

	tr:nth-child(odd) td {
		background: #ebebeb;
	}

	tr:nth-child(odd):hover td {
		background: #ebebeb;
	}

	tr::after last-child td:first-child {
		border-bottom-left-radius: 3px;
	}

	tr::after last-child td:last-child {
		border-bottom-right-radius: 3px;
	}

td {
	background: #fff;
	padding: 20px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	font-size: 13px;
	text-shadow: -1px -1px -1px rgba(0,0,0,0.1);
	border-right: 1px solid #c1c3d1;
}
